body {
  background-color: #333335;
  justify-content: center;
}
.maintext {
  position: absolute;
  width: 602px;
  height: 79px;
  left: 360px;
  top: 2px;
  text-align: center;

  font-family: Fredoka One;
  font-size: 40px;
  line-height: 79px;

  color: #ffffff;
}
.comingSoon {
  position: absolute;
  width: 446px;
  height: 75px;
  left: 560px;
  top: 220px;

  font-family: Source Sans Pro;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  line-height: 75px;

  color: #ffffff;
}

.countdown {
  font-family: source sans pro;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.days,
.hours,
.minutes,
.seconds {
  font-size: 3rem;
}

.h3 {
  color: #ffbbe8;
}

.waiting {
  height: 50vh;
}

.rectangle1 {
  width: 97px;
  height: 108px;
  left: 365px;
  top: 400px;

  background: #7c4fff;
  border-radius: 40px;
}

.rectangle2 {
  width: 97px;
  height: 108px;
  left: 562px;
  top: 400px;

  background: #7c4fff;
  border-radius: 40px;
}

.rectangle3 {
  width: 97px;
  height: 108px;
  left: 759px;
  top: 400px;

  background: #7c4fff;
  border-radius: 40px;
}

.rectangle4 {
  width: 97px;
  height: 108px;
  left: 956px;
  top: 400px;

  background: #7c4fff;
  border-radius: 40px;
}

.form {
  font-family: source sans pro;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffbbe8;
  display: grid;
  align-items: center;
  width: 20rem;
  position: relative;
}
.form__input {
  border-radius: 40px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 1.5rem;
  background: none;
  color: white;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: white;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
